<h1 style="margin-top: 80px;"><%= @job.title %></h1>

<p>
  <%= simple_format(@job.description) %>
</p>

<div class="text-center">
  <%= link_to("給予公司評論", new_job_review_path(@job), class: "btn btn-default pull-right")%>
  <%= link_to("投交履歷", new_job_resume_path(@job), class: "btn btn-default pull-right") %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>評論內容</th>
      <th>發表時間</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td><%= review.content %></td>
      <td><%= review.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @reviews %>
</div>
