<div class="box col-md-12">


      <p class="slogan">人們總是挑選適合自己的衣服
        <br>
        那工作呢？
      </p>
      <p class="lead">
        <%= link_to '立刻挑選', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src='<%= image_url 'worker.png'%>'><alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>尋找工作最速傳說</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src='<%= image_url 'global.png'%>'><alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>全球各大城市</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src='<%= image_url 'customer.png'%>'><alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>02-12345678</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">找工作？</h2>
        <p class="lead">JobForYou!</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">如果您不會寫履歷</h2>
        <p class="lead">您可以聯絡我們取得專業的建議</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">如果您沒有專業技能</h2>
        <p class="lead">同樣動動你的小手聯絡我們，我們將有專人給予建議</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
